.env
/storage/logs/*.log
/public/assets/uploads/produtos/*
/public/assets/uploads/depoimentos/*
!/public/assets/uploads/produtos/.gitkeep
!/public/assets/uploads/depoimentos/.gitkeep
.DS_Store
Thumbs.db
/vendor/
